<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <section class="logo-container">
            <a class="header_link-home" href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"
                    class="logo"></a>

            <form class="search-bar">
                <input type="text" placeholder=" Buscar productos, marcas"><a href="#" class="header-glass">
                    <i class="fa-solid fa-magnifying-glass"></i></a>
            </form>
            <p class="header-p"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </section>


        <nav class="site-navbar">
            <ul class="sin-puntos">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

                <ul class="navbar-login">
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                    <li><a href="login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compra <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </ul>
        </nav>

        <div class="burger-menu">
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div class="banner"><img src="/images/img-home-banner.jpg" alt="banner"></div>
    </header>

    <main>
        
        <h2>Basado en tu última visita</h2>
        <article class="productos-container">
            <div class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i></a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <div class="container-descripciones">
                    <p class="descripciones">Cafetera Moulinex</p></div>
                </div>
            </div>
            <div class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macBook">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                </div>
                <div>
                    <p class="descripciones">MacBook Pro 2019</p></div>
                </div>
            </div>

            <div class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung s10">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                </div>
                <div>
                    <p class="descripciones">Samsung Galaxy S10</p></div>
                </div>
            </div>

            <div class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                </div>
                <div>
                    <p class="descripciones">SmartTv Samsung 43"</p></div>
                </div>
            </div>
        </article>

        <h2>Sección de Ofertas</h2>
        <section class="productos-container_ofertas">
            <div class="producto_ofertas">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <div>
                    <p class="descripciones">Cafetera Moulinex</p></div>
                </div>
            </div>


            <div class="producto_ofertas">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macBook">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                </div>
                <div>
                    <p class="descripciones">MacBook Pro 2019</p></div>
                </div>
            </div>

            <div class="producto_ofertas">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung s10">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                </div>
                <div>
                    <p class="descripciones">Samsung Galaxy S10</p></div>
                </div>
            </div>

            <div class="producto_ofertas">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv">
                <div class="logo-envio">
                    <a href="#" class="logo-envio">
                        <i class="fa-solid fa-truck"></i>
                    </a>
                </div>
                <div class="producto-info">
                <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                </div>
                <div>
                    <p class="descripciones">SmartTv Samsung 43"</p></div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <ul>
            <div class="footer-card">
                <a href="#" class="footer-card">
                    <i class="fa-solid fa-credit-card"></i>
                </a>
            </div>

            <li>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </li>

            <div class="footer-gift">
                <a href="#" class="footer-gift">
                    <i class="fa-solid fa-gift"></i>
                </a>
            </div>

            <li>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>

                <div class="footer-user">
                    <a href="#" class="footer-user">
                        <i class="fa-solid fa-user-shield"></i>
                    </a>
                </div>
            </li>

            <li>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </li>
        </ul>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>



    </footer>
</body>

</html>