<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="login">
    <header class="header">
        <section class="logo-container">
            <a class="header_link-home" href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"
                    class="logo"></a>

            <form class="search-bar">
                <input type="text" placeholder=" Buscar productos, marcas"><a href="#" class="header-glass">
                    <i class="fa-solid fa-magnifying-glass"></i></a>
            </form>
            <p class="header-p"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>

        </section>

        <nav class="site-navbar">
            <ul class="sin-puntos">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

                <ul class="login">
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-user"></i></a></li>
                    <li><a href="login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </ul>
        </nav>

        <div class="burger-menu">
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div><img src="/images/img-home-banner.jpg" alt="banner"></div>
    </header>

    <main class="form--main">
        <form action="" class="form">
            <div class="form--div">
                <div>
                    <label for="user"></label>
                    <input class="form__div__escribir" id="user" type="text" placeholder="Nombre de usuario"
                        name="user">
                </div><br>
                <div>
                    <label for="password"></label>
                    <input class="form__div__escribir" type="password" name="password" id="password"
                        placeholder="Contraseña">
                </div>
            </div>
            <div class="form__boton">
                <div>
                    <a href="/" class="form__boton--enviar" type="submit">Enviar</a>
                </div>

            </div>

        </form>
    </main>
</body>

<footer>
    <ul>
        <div class="footer-card">
            <a href="#" class="footer-card">
                <i class="fa-solid fa-credit-card"></i>
            </a>
        </div>

        <li>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>
        </li>

        <div class="footer-gift">
            <a href="#" class="footer-gift">
                <i class="fa-solid fa-gift"></i>
            </a>
        </div>

        <li>
            <h2>Envío gratis desde $2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                beneficio de Mercado Puntos.</p>

            <div class="footer-user">
                <a href="#" class="footer-user">
                    <i class="fa-solid fa-user-shield"></i>
                </a>
            </div>
        </li>

        <li>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </li>
    </ul>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>



</footer>
</body>

</html>

</html>