header {
    background-color: var(--amarillo);
}

.logo-envio {
    width: 50%;
}

.search-bar {
    background-color: var(--amarillo);
    margin: 25px;
    display: flex;
    width: 75%;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;

}

.header-glass i {
    background-color: var(--gris_claro);
    padding: 3px 3px;
    border-radius: 3px;
}

.sin-puntos {
    list-style-type: none;
    display: flex;
}

.header-p {
    text-align: center;
    width: 100%;
}

.site-navbar {
    padding-bottom: 20px;
    display: none;
    width: 100%;
}



.header nav ul,
.navbar-login {
    display: flex;
    gap: 15px;
}

a {
    color: black;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.burger-menu i {
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--azul);
    font-size: 2em;
    margin-bottom: 10px;

}



@media (max-width: 767px) {

    .search-bar {
        width: 100%;
        margin: 0;
    }


    .burger-menu {
        display: block;
        text-align: center;
    }

    .sin-puntos,
    .navbar-login {
        display: block;
        justify-content: space-around;
    }

    .header-p {
        display: flex;
        text-align: center;

        flex-grow: 100;
    }
    .banner {
        display: none;
    }
    
}

@media (min-width: 768px) {
    .logo-container {
        display: flex;
        width: 75%
    }
    .logo {
        width: 200px;
    }

    .site-navbar {
        display: block;

    }

    .burger-menu {
        display: none;
    }

    .header-p {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;

        width: 400px;
    }

    .navbar-login {
        gap:15px;
        justify-content: flex-end;
        padding-left: 200px;
    }
    .sin-puntos,
    .navbar-login {
        
        display: block;
        
    }

 
}

@media (min-width: 1024px) {

    .logo {
        width: 400px;
    }

    .site-navbar {
        display: block;
    }

    .burger-menu {
        display: none;
    }
    .navbar-login {
    
    padding-left: 800px;
}
}