.producto-info {
    background-color: #fff;
    padding-bottom: 10px;
    border-top: black
}


.precio {
    display: flex;
    font-size: 18px;
    align-items: flex-end;
    gap: 10px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: var(--verde);
}

.descripciones {
    font-size: 16px;
    display: none;

}

main {
    width: 90%;
    margin: 0 auto;
}



.producto {
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 0 15px;

    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.producto_ofertas {
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 0 15px;

    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}




.producto p {
    text-align: center;
    margin-top: 10px;
}

.producto_ofertas p {
    text-align: center;
    margin-top: 10px;
}

.logo-envio {
    text-align: center;
    position: relative;
}

.logo-envio i {
    display: flex;
    justify-content: center;
    color: var(--verde);
    border: 1px solid var(--verde);
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    left: 170px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: white;
    transition: all 2s;
}

.logo-envio i:hover {
    transform: rotate(-90deg);
}

.precio-descuento {
    display: flex;
    justify-content: flex-start;
}



@media (min-width: 768px) {

    .productos-container {
        display: flex;
        flex-wrap: wrap;

        row-gap: 20px;
    }

    .producto {
        width: 50%;
    }

    .productos-container_ofertas {
        display: flex;
        flex-wrap: wrap;

        row-gap: 20px;

    }

    .producto_ofertas {
        width: 50%;

    }

    .producto .descripciones {
        display: block;
    }

    .producto_ofertas .descripciones {
        display: block;
    }



}

@media (min-width: 1024px) {

    .producto {
        width: 25%;
    }

    .producto_ofertas {
        width: 25%;
    }

    .producto:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .producto:hover .producto-info{
        display: block;
        
    }

    .producto-info {
        display: none;
        background-color: white;
        padding: 10px;

    }

    .producto_ofertas:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .producto_ofertas:hover .producto-info {
        display: block;
    }

    .producto-info {
        display: none;
        background-color: white;
        padding: 10px;

    }
}