.precio {
    display: flex;
    font-size: 18px;
    align-items: flex-end;
    gap: 10px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    color: var(--verde);
}

.descripciones {
    font-size: 16px;
    display: none;
   
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.producto {
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 0 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.producto_ofertas {
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 0 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}


.producto img {
    display: block;
    margin: 0 auto;
}

.producto p {
    text-align: center;
    margin-top: 10px;
}

.producto_ofertas p {
    text-align: center;
    margin-top: 10px;
}

.logo-envio {
    text-align: center;
    position: relative;
}

.logo-envio i {
    display: flex;
    justify-content: center;
    color: var(--verde);
    border: 1px solid var(--verde);
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    left: 170px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: white;
}


.precio-descuento {
    display: flex;
    justify-content: flex-start;
}





@media (min-width: 768px) {

    .productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
    }

    .producto {
        width: 50%;
    }

    .productos-container_ofertas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
    }

    .producto_ofertas {
        width: 50%;
    }

    .producto .descripciones {
        display: block;
    }

    .producto_ofertas .descripciones {
        display: block;
    }

}

@media (min-width: 1024px) {

    .producto {
        width: 25%;
    }

    .producto_ofertas {
        width: 25%;
    }

    .producto .descripciones {
        display: block;
    }

    .producto_ofertas .descripciones {
        display: block;
    }
}